body,
html {
  margin: 0;
  border: 0;
  background-color: var(--color0);
  color: var(--foreground);
}

header {
  background-color: var(--color1);
  filter: opacity(100%);
  height: 150px;

  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: 40px;
    filter: opacity(60%);
    &:hover {
      filter: brightness(100%);
    }
  }
}

.campo-tarefas {
  display: flex;
  gap: 50px;
}

.campo-total {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

main {
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
  button {
    max-height: 20px;
  }
}

.well {
  background-color: var(--color1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid var(--color8);

  max-height: 600px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#well-tarefa,
#well-lista {
  display: flex;
  box-sizing: border-box;
}

.lista {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  margin: 30px;
  padding: 20px;

  border-radius: 20px;

  gap: 10px;
  background-color: var(--color3);
  border: 1px solid var(--color3);
  width: 200px;

  p:nth-last-child(1) {
    align-self: flex-end;
  }

  filter: opacity(90%);

  &:hover {
    filter: brightness(130%);
  }
}

.tarefa {
  cursor: pointer;
  width: 540px;
}

.add {
  cursor: pointer;
  background-color: var(--color15);
  border: 0;
  padding: 15px 11px;
  border-radius: 100%;

  display: flex;
  align-items: center;

  filter: opacity(70%);

  &:hover {
    filter: brightness(100%);
  }
}

.selects {
  display: flex;
  align-items: center;
  gap: 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
    font-size: 18px;
    color: var(--foreground);
  }

  select {
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--color3);
    color: var(--foreground);
    font-size: 14px;

    filter: opacity(80%);
  }
}

#pesquisa-tarefa {
  border: none;
  background-color: var(--color3);
  color: var(--foreground);
}

.pesquisa {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#pesquisa-tarefa {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--color3);
  color: var(--foreground);
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.pesquisa label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--foreground);
  filter: opacity(80%);
}

#buscar-todas-listas {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
