:root {
    --background: #20191f;
    --foreground: #d0dfe4;
    --cursor: #d0dfe4;

    --color0: #20191f;
    --color1: #6b857b;
    --color2: #a37e82;
    --color3: #76948e;
    --color4: #93a5a3;
    --color5: #d0b4b1;
    --color6: #b2c9cc;
    --color7: #d0dfe4;
    --color8: #919c9f;
    --color9: #6b857b;
    --color10: #a37e82;
    --color11: #76948e;
    --color12: #93a5a3;
    --color13: #d0b4b1;
    --color14: #b2c9cc;
    --color15: #d0dfe4;
}
